#contact {
  background: rgba(242, 228, 215, 0.33);
}

.contact_content h2,
.contact_content h6 {
  text-align: center;
}

.contact_content .section_title {
  margin-bottom: 54px;
}
.contact_box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 200px;
}

.contact_info {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.contact_info .icon {
  display: inline-flex;
  height: fit-content;
  padding: 14px;
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 13px;
}

.contact_info .icon i {
  font-size: 1.25rem;
  color: var(--dark-blue);
}

.contact_info .text span {
  color: var(--dark-blue);
  font-size: 1.125rem;
  font-weight: 700;
}

.contact_info .text p {
  color: #5c5c5c;
  font-size: 1rem;
  /* max-width: 20ch; */
  font-weight: 500;
}

.contact_info .text p {
  margin-top: 4px;
}

.contact_box .contact_button {
  color: #fff;
  background-color: var(--dark-blue);
}

.contact_box .contact_button:hover {
  background-color: #28486d;
}

@media screen and (max-width: 900px) {
  .contact_box {
    gap: 100px;
  }
}

@media screen and (max-width: 700px) {
  .contact_box {
    grid-template-columns: 1fr;
  }
  .contact_box {
    gap: 50px;
  }

  .contact_info .text span {
    font-size: 1rem;
  }

  .contact_info .text p {
    font-size: 0.86rem;
  }
}
