#services {
  background: rgba(242, 228, 215, 0.33);
  padding-top: 112px;
  box-shadow: inset 0 -100px #fff;
}

.services_content > h6,
.services_content > h2 {
  text-align: center;
}

.services_content > h2 {
  margin-bottom: 70px;
}

.services_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.services_grid .service {
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
}

.services_grid .service .icon_wrapper {
  display: inline-block;
  padding: 14px;
  background: rgba(242, 228, 215, 0.33);
  border-radius: 14px;
  margin-bottom: 20px;
}

.services_grid .service h5 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--dark-blue);
  margin-bottom: 12px;
}

.services_grid .service p {
  font-weight: 400;
  font-size: 0.87rem;
  color: #5c5c5c;
  line-height: 1.5;
}

.services_contact {
  margin-top: 133px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  /* padding: 100px; */
  padding: clamp(0.75rem, 4vw, 6rem);
  border-radius: 10px;
  background-color: var(--dark-blue);
}

.services_contact h4 {
  color: #fff;
  font-size: clamp(1.25rem, 0.5rem + 2vw, 2rem);
  font-weight: 600;
  max-width: 23ch;
}

.services_contact .contact_button {
  color: var(--dark-blue);
  background-color: #fff;
  font-weight: 400;
}

@media screen and (max-width: 750px) {
  .services_content > h2 {
    margin-bottom: 40px;
  }
  .services_grid {
    grid-template-columns: 1fr;
  }
  .services_contact {
    flex-direction: column;
    margin-top: 90px;
    text-align: center;
  }
}
